In [16]:
import yfinance as yf
import pandas as pd
import numpy as np

In [26]:
names = pd.read_csv('bank_sym.csv',header=None)
# names = names+'.NS'

In [27]:
names

            0
0    HDFCBANK
1   KOTAKBANK
2        SBIN
3    AXISBANK
4   ICICIBANK
5  FEDERALBNK
6  INDUSINDBK
7  IDFCFIRSTB
8     RBLBANK
9     YESBANK

In [19]:
# SYM.to_csv("sum.csv")

In [20]:
#sym= pd.read_csv('nse50_sym.csv',header=None)
sym = names.squeeze()

In [21]:
type(sym)

pandas.core.series.Series

In [22]:
names[0][0]

'HDFCBANK'

In [23]:
initialize = yf.download(names[0][0], start="2017-01-01", end="2022-12-12")

KeyboardInterrupt:

In [ ]:
# initialize = yf.download(names[0][0], start="2017-01-01", end="2022-12-12")
# matrix = initialize['Close']
# # Download historical data for required stocks
# for i in range(1, len(names[0])):
#     SnP = yf.download(names[0][i], start="2017-01-01", end="2022-11-21")
    
#     matrix = pd.concat([matrix, SnP['Close']], axis=1)
#     print(i)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
1
[*********************100%***********************]  1 of 1 completed
2
[*********************100%***********************]  1 of 1 completed
3
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ICICIBANK.NS: No data found for this date range, symbol may be delisted
4
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- FEDERALBNK.NS: No data found for this date range, symbol may be delisted
5
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- INDUSINDBK.NS: No data found for this date range, symbol may be delisted
6
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- IDFCBANK.NS: No data found for this date range, symbol may be delisted
7
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- RBLBANK.NS: No timezone found, symbol may be delisted
8
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- YESBANK.NS: No timezone found, symbol may be delisted
9

In [28]:
import nsepy
from datetime import date

start_date = date(2017,1,1)
end_date = date(2022,12,12)

matrix = nsepy.get_history(symbol=names[0][0], start=start_date, end=end_date)
matrix = matrix['Close']

for i in range(1, len(names[0])):
    SnP = nsepy.get_history(symbol=names[0][i], start=start_date, end=end_date)
    matrix = pd.concat([matrix, SnP['Close']], axis=1)
    print(i)

1
2
3
4
5
6
7
8
9

In [25]:
matrix.

,Close,Close,Close,Close,Close,Close,Close,Close,Close,Close
Date,,,,,,,,,,
2017-01-02,1197.10,714.80,243.60,447.75,251.95,66.05,1087.45,NaN,335.80,1144.65
2017-01-03,1189.90,711.75,244.90,455.25,254.40,66.15,1100.60,NaN,341.30,1162.90
2017-01-04,1185.50,695.60,242.90,453.10,251.10,65.75,1100.15,NaN,345.55,1163.15
2017-01-05,1186.20,698.95,245.35,458.05,257.25,67.50,1127.55,NaN,353.95,1210.20
2017-01-06,1193.65,716.85,245.90,455.20,258.15,67.20,1144.05,NaN,356.50,1246.75
...,...,...,...,...,...,...,...,...,...,...
2022-12-06,1611.15,1935.25,608.95,904.65,922.65,134.80,1184.10,NaN,153.65,17.50
2022-12-07,1610.45,1911.45,607.05,914.65,922.15,132.10,1164.65,NaN,153.40,17.45
2022-12-08,1619.50,1897.00,611.65,939.35,931.90,135.75,1190.85,NaN,153.00,17.75
2022-12-09,1631.05,1888.05,616.50,933.70,929.90,133.85,1202.50,NaN,151.75,19.70
2022-12-12,1643.75,1865.75,613.05,938.65,930.30,134.00,1206.75,NaN,155.05,21.10

In [29]:

matrix.to_csv('bank_NS.csv')

0        537.455444
1        539.585266
2        528.564758
3        533.641602
4        532.428101
           ...
1449    2619.050049
1450    2607.300049
1451    2592.350098
1452    2599.050049
1453    2597.649902
Name: Close, Length: 1454, dtype: float64

In [ ]:
matrix.to_csv('data.csv')

In [ ]:
SnP['Close']

Date
2017-01-02     714.799988
2017-01-03     711.750000
2017-01-04     695.599976
2017-01-05     698.950012
2017-01-06     716.849976
                 ...
2019-12-23    1704.900024
2019-12-24    1711.550049
2019-12-26    1694.250000
2019-12-27    1685.599976
2019-12-30    1690.400024
Name: Close, Length: 736, dtype: float64

In [ ]:
yf.download(sym[12], start="2017-01-01", end="2022-11-21")

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-03-21,600.000000,648.900024,558.299988,641.599976,641.599976,85728445
2017-03-22,641.549988,657.450012,625.099976,638.549988,638.549988,15817671
2017-03-23,637.900024,648.000000,628.150024,634.849976,634.849976,4690121
2017-03-24,635.450012,640.450012,612.599976,616.900024,616.900024,4865013
2017-03-27,615.000000,623.000000,602.349976,614.400024,614.400024,3535098
...,...,...,...,...,...,...
2022-11-14,4144.799805,4144.799805,4081.800049,4098.350098,4098.350098,300509
2022-11-15,4082.000000,4109.799805,4046.000000,4053.800049,4053.800049,496893
2022-11-16,4053.800049,4059.949951,4003.149902,4011.699951,4011.699951,290474
2022-11-17,4000.000000,4009.949951,3940.000000,3949.199951,3949.199951,365371
2022-11-18,3968.899902,4020.000000,3890.050049,3910.600098,3910.600098,402297