In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

In [2]:
names = pd.read_csv('nse100_SYM.csv',header=None)
# names = names+'.NS'

In [3]:
names

             0
0   KARURVYSYA
1     RELIANCE
2          TCS
3     HDFCBANK
4         INFY
..         ...
95    BOSCHLTD
96  INDUSTOWER
97       PIIND
98        FACT
99       SUNTV

[100 rows x 1 columns]

In [25]:
# SYM.to_csv("sum.csv")

In [26]:
#sym= pd.read_csv('nse50_sym.csv',header=None)
sym = names.squeeze()

In [27]:
type(sym)

pandas.core.series.Series

In [4]:
names[0][0]

'KARURVYSYA'

In [29]:
# initialize = yf.download(names[0][0], start="2017-01-01", end="2022-12-12")

In [9]:
SYM =[ i + ".NS" for i in names[0]]
names[0]=SYM

In [10]:
initialize = yf.download(names[0][0], start="2012-01-01", end="2023-01-17")
matrix = initialize['Close']
# Download historical data for required stocks
for i in range(1, len(names[0])):
    SnP = yf.download(names[0][i], start="2012-01-01", end="2023-01-17")
    
    matrix = pd.concat([matrix, SnP['Close']], axis=1)
    print(i)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
1
[*********************100%***********************]  1 of 1 completed
2
[*********************100%***********************]  1 of 1 completed
3
[*********************100%***********************]  1 of 1 completed
4
[*********************100%***********************]  1 of 1 completed
5
[*********************100%***********************]  1 of 1 completed
6
[*********************100%***********************]  1 of 1 completed
7
[*********************100%***********************]  1 of 1 completed
8
[*********************100%***********************]  1 of 1 completed
9
[*********************100%***********************]  1 of 1 completed
10
[*********************100%***********************]  1 of 1 completed
11
[*********************100%***********************]  1 of 1 completed
12
[*********************100%***********************]  1 of 1 completed
13
[*********************100%***********************]  1 of 1 completed
14
[*********************100%***********************]  1 of 1 completed
15
[*********************100%***********************]  1 of 1 completed
16
[*********************100%***********************]  1 of 1 completed
17
[*********************100%***********************]  1 of 1 completed
18
[*********************100%***********************]  1 of 1 completed
19
[*********************100%***********************]  1 of 1 completed
20
[*********************100%***********************]  1 of 1 completed
21
[*********************100%***********************]  1 of 1 completed
22
[*********************100%***********************]  1 of 1 completed
23
[*********************100%***********************]  1 of 1 completed
24
[*********************100%***********************]  1 of 1 completed
25
[*********************100%***********************]  1 of 1 completed
26
[*********************100%***********************]  1 of 1 completed
27
[*********************100%***********************]  1 of 1 completed
28
[*********************100%***********************]  1 of 1 completed
29
[*********************100%***********************]  1 of 1 completed
30
[*********************100%***********************]  1 of 1 completed
31
[*********************100%***********************]  1 of 1 completed
32
[*********************100%***********************]  1 of 1 completed
33
[*********************100%***********************]  1 of 1 completed
34
[*********************100%***********************]  1 of 1 completed
35
[*********************100%***********************]  1 of 1 completed
36
[*********************100%***********************]  1 of 1 completed
37
[*********************100%***********************]  1 of 1 completed
38
[*********************100%***********************]  1 of 1 completed
39
[*********************100%***********************]  1 of 1 completed
40
[*********************100%***********************]  1 of 1 completed
41
[*********************100%***********************]  1 of 1 completed
42
[*********************100%***********************]  1 of 1 completed
43
[*********************100%***********************]  1 of 1 completed
44
[*********************100%***********************]  1 of 1 completed
45
[*********************100%***********************]  1 of 1 completed
46
[*********************100%***********************]  1 of 1 completed
47
[*********************100%***********************]  1 of 1 completed
48
[*********************100%***********************]  1 of 1 completed
49
[*********************100%***********************]  1 of 1 completed
50
[*********************100%***********************]  1 of 1 completed
51
[*********************100%***********************]  1 of 1 completed
52
[*********************100%***********************]  1 of 1 completed
53
[*********************100%***********************]  1 of 1 completed
54
[*********************100%***********************]  1 of 1 completed
55
[*********************100%***********************]  1 of 1 completed
56
[*********************100%***********************]  1 of 1 completed
57
[*********************100%***********************]  1 of 1 completed
58
[*********************100%***********************]  1 of 1 completed
59
[*********************100%***********************]  1 of 1 completed
60
[*********************100%***********************]  1 of 1 completed
61
[*********************100%***********************]  1 of 1 completed
62
[*********************100%***********************]  1 of 1 completed
63
[*********************100%***********************]  1 of 1 completed
64
[*********************100%***********************]  1 of 1 completed
65
[*********************100%***********************]  1 of 1 completed
66
[*********************100%***********************]  1 of 1 completed
67
[*********************100%***********************]  1 of 1 completed
68
[*********************100%***********************]  1 of 1 completed
69
[*********************100%***********************]  1 of 1 completed
70
[*********************100%***********************]  1 of 1 completed
71
[*********************100%***********************]  1 of 1 completed
72
[*********************100%***********************]  1 of 1 completed
73
[*********************100%***********************]  1 of 1 completed
74
[*********************100%***********************]  1 of 1 completed
75
[*********************100%***********************]  1 of 1 completed
76
[*********************100%***********************]  1 of 1 completed
77
[*********************100%***********************]  1 of 1 completed
78
[*********************100%***********************]  1 of 1 completed
79
[*********************100%***********************]  1 of 1 completed
80
[*********************100%***********************]  1 of 1 completed
81
[*********************100%***********************]  1 of 1 completed
82
[*********************100%***********************]  1 of 1 completed
83
[*********************100%***********************]  1 of 1 completed
84
[*********************100%***********************]  1 of 1 completed
85
[*********************100%***********************]  1 of 1 completed
86
[*********************100%***********************]  1 of 1 completed
87
[*********************100%***********************]  1 of 1 completed
88
[*********************100%***********************]  1 of 1 completed
89
[*********************100%***********************]  1 of 1 completed
90
[*********************100%***********************]  1 of 1 completed
91
[*********************100%***********************]  1 of 1 completed
92
[*********************100%***********************]  1 of 1 completed
93
[*********************100%***********************]  1 of 1 completed
94
[*********************100%***********************]  1 of 1 completed
95
[*********************100%***********************]  1 of 1 completed
96
[*********************100%***********************]  1 of 1 completed
97
[*********************100%***********************]  1 of 1 completed
98
[*********************100%***********************]  1 of 1 completed
99

In [7]:
# import nsepy
# from datetime import date

# start_date = date(2017,1,1)
# end_date = date(2022,12,12)

# # matrix = nsepy.get_history(symbol=names[0][0], start=start_date, end=end_date)
# # matrix = matrix['Close']

# for i in range(90, len(names[0])):
#     SnP = nsepy.get_history(symbol=names[0][i], start=start_date, end=end_date)
#     matrix = pd.concat([matrix, SnP['Close']], axis=1)
#     time.sleep(2) 
#     print(i)

90
91
92
93
94
95
96
97
98
99

In [4]:
import time
time.sleep(0.5)

In [8]:
matrix.shape

(1473, 100)

In [11]:

matrix.to_csv('NSE100_1.csv')

0        537.455444
1        539.585266
2        528.564758
3        533.641602
4        532.428101
           ...
1449    2619.050049
1450    2607.300049
1451    2592.350098
1452    2599.050049
1453    2597.649902
Name: Close, Length: 1454, dtype: float64

In [ ]:
matrix.to_csv('data.csv')

In [ ]:
SnP['Close']

Date
2017-01-02     714.799988
2017-01-03     711.750000
2017-01-04     695.599976
2017-01-05     698.950012
2017-01-06     716.849976
                 ...
2019-12-23    1704.900024
2019-12-24    1711.550049
2019-12-26    1694.250000
2019-12-27    1685.599976
2019-12-30    1690.400024
Name: Close, Length: 736, dtype: float64

In [ ]:
yf.download(sym[12], start="2017-01-01", end="2022-11-21")

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-03-21,600.000000,648.900024,558.299988,641.599976,641.599976,85728445
2017-03-22,641.549988,657.450012,625.099976,638.549988,638.549988,15817671
2017-03-23,637.900024,648.000000,628.150024,634.849976,634.849976,4690121
2017-03-24,635.450012,640.450012,612.599976,616.900024,616.900024,4865013
2017-03-27,615.000000,623.000000,602.349976,614.400024,614.400024,3535098
...,...,...,...,...,...,...
2022-11-14,4144.799805,4144.799805,4081.800049,4098.350098,4098.350098,300509
2022-11-15,4082.000000,4109.799805,4046.000000,4053.800049,4053.800049,496893
2022-11-16,4053.800049,4059.949951,4003.149902,4011.699951,4011.699951,290474
2022-11-17,4000.000000,4009.949951,3940.000000,3949.199951,3949.199951,365371
2022-11-18,3968.899902,4020.000000,3890.050049,3910.600098,3910.600098,402297